# Data manipulation and numerical operations
pandas
numpy
scipy

# Machine Learning Core
scikit-learn
xgboost

# Natural Language Processing
jieba
snownlp

# Data Scraping
requests

# Data Visualization
matplotlib
seaborn

openpyxl
nltk
vaderSentiment